.color {
  & > span {
    display: inline-block;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-bottom: 0.8rem;
  }
  div {
    display: flex;
    gap: 0.8rem;
    margin-left: 0.2rem;
    span {
      width: 1.6rem;
      height: 1.6rem;
      display: inline-block;
      outline-offset: 1px;
      outline: none;
    }
  }
}

.selected {
  outline: 1px solid #5ece7b !important;
}

.cartPageColor {
  & > span {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  div {
    margin-left: 0;
    span {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
