.cartContainer {
  position: absolute;
  top: 8rem;
  right: -3rem;
  width: 325px;
  height: 677px;
  background-color: white;

  display: none;
  padding: 3.2rem 1.6rem 10.7rem 1.6rem;
}

.showCart {
  display: block;
}

.itemsWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.bagInfo {
  display: flex;
  align-items: center;
  height: 2.6rem;
  line-height: 160%;
  color: #1d1f22;
  font-size: 1.6rem;

  h3 {
    font-size: inherit;
    font-weight: 700;
    display: inline-block;
  }
  span {
    font-weight: 500;
  }
}

.priceAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  line-height: 2.6rem;
  height: 2.6rem;
  color: #1d1f22;
  font-size: 1.6rem;

  h3 {
    font-size: inherit;
    font-weight: 700;
  }
}

.cta {
  margin-top: 3.2rem;
  width: 100%;
  height: 4.3rem;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  button {
    width: 14rem;
    height: 4.3rem;
    padding: 1.3rem 0;
    font: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }

  & > button {
    background: #5ece7b;
    color: white;
    border: 1px solid #1d1f2200;
  }

  a > button {
    color: #1d1f22;
    border: 1px solid #1d1f22;
    background: none;
  }
}

.items {
  overflow: hidden;
}

.itemsChildren {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  gap: 4rem;
}

.cartNote {
  font-size: 1.6rem;
  opacity: 0.9;
  text-align: center;
  margin-top: 50%;
}

@media screen and (max-width: 1000px) {
  .cartContainer {
    right: 3rem;
  }
}

@media screen and (max-width: 520px) {
  .cartContainer {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 100%;
  }
}
